<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>pushlet</servlet-name>
    <servlet-class>
            nl.justobjects.pushlet.servlet.Pushlet
        </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>pushlet</servlet-name>
    <url-pattern>/pushlet.srv</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DataProxy</display-name>
    <servlet-name>DataProxy</servlet-name>
    <servlet-class>com.zc.action.DataProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataProxy</servlet-name>
    <url-pattern>/DataProxy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityRainFallProxy</display-name>
    <servlet-name>CityRainFallProxy</servlet-name>
    <servlet-class>com.zc.action.CityRainFallProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityRainFallProxy</servlet-name>
    <url-pattern>/CityRainFallProxy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TyphoonProxy</display-name>
    <servlet-name>TyphoonProxy</servlet-name>
    <servlet-class>com.zc.action.TyphoonProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TyphoonProxy</servlet-name>
    <url-pattern>/TyphoonProxy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeatherReportProxy</display-name>
    <servlet-name>WeatherReportProxy</servlet-name>
    <servlet-class>com.zc.action.WeatherReportProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeatherReportProxy</servlet-name>
    <url-pattern>/WeatherReportProxy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerProxy</display-name>
    <servlet-name>ControllerProxy</servlet-name>
    <servlet-class>com.zc.action.ControllerProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerProxy</servlet-name>
    <url-pattern>/ControllerProxy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessageProxy</display-name>
    <servlet-name>SendMessageProxy</servlet-name>
    <servlet-class>com.zc.action.SendMessageProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessageProxy</servlet-name>
    <url-pattern>/SendMessageProxy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PantageProxy</display-name>
    <servlet-name>PantageProxy</servlet-name>
    <servlet-class>com.zc.action.PantageProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PantageProxy</servlet-name>
    <url-pattern>/PantageProxy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RainFallProxy</display-name>
    <servlet-name>RainFallProxy</servlet-name>
    <servlet-class>com.zc.action.RainFallProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RainFallProxy</servlet-name>
    <url-pattern>/RainFallProxy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StationInfoProxy</display-name>
    <servlet-name>StationInfoProxy</servlet-name>
    <servlet-class>com.zc.action.StationInfoProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StationInfoProxy</servlet-name>
    <url-pattern>/StationInfoProxy</url-pattern>
  </servlet-mapping>
</web-app>